/* basic  */
$white: #fff;
$black: #000;
$basic: #fff;
$background: darkslateblue;
$placeholder: #758078;

/* theme  */
$bright-wood: #eabd7a;
$dark-wood: #b6814d;
$bright-line: #8e5327;
$dark-line: #624529;

/* situation  */
$error: #d32f2f;
$clear: #758ec6;

/* memo-style */
$paper: #ececec;
$paper2: #f8ea85;
$paper3: #baf3f7;
$paper4: #adb0ec;
$paper5: #fdb4c3;
$paper6: #fbc290;
$pin: #8e5327;
$pin2: #fdb4c3;
$pin3: #fbc290;
$pin4: #baf3f7;
$pin5: #f8ea85;
$pin6: #adb0ec;
