/* basic  */
$white: #fff;
$black: #000;

/* theme  */
$basic: #fff;
$background: darkslateblue;
$body: #f2f2f2;
$reverse: #303030;
$metal: #c8c8c8;
$dark: #555658;
$screen: #f1f6f7;

/* situation  */
$error: #d32f2f;
$clear: #758ec6;
