@use "../abstracts/variables" as c;
@use "../abstracts/mixins" as mix;

// buttons
.move-top-btn {
  @include mix.box-style(40px, 40px, c.$white);
  @include mix.font-style(13px, $fc: c.$background);
  border: none;
  border-radius: 100%;
  cursor: pointer;

  &:hover {
    opacity: 90%;
  }
}

// images
.room-img {
  width: 100%;
  margin-top: 20px;
}

/* modal */
//product-modal
.black-bg {
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  padding: 30px;
}

.white-bg {
  width: 480px;
  height: 400px;
  background: white;
  border-radius: 8px;
  padding: 20px;
  margin-top: 40px;
}

.modal-container {
  @include mix.flexbox(column);
}

.modal-img {
  width: 400px;
}

.close-btn {
  border: none;
  background: white;
  cursor: pointer;
}

// product-list
.item-container {
  width: 100%;
  height: 100%;
  padding: 15px;
  margin: 15px 0;
}
