@use "../abstracts/variables" as c;
@use "../abstracts/mixins" as mix;

.body-container {
  @include mix.gridbox(
    $a: ". header ." ". body ." ". footer .",
    $gtr: 10% 80% 10%,
    $gtc: 0 100% 0
  );
  @include mix.box-style($w: 100%, $h: 100vh);

  header {
    grid-area: header;

    .nav-menu {
      @include mix.box-style(100%, 50px, c.$background);
      @include mix.flexbox();

      .nav-item {
        padding: 5px;
        margin-right: 5px;
        color: c.$white;
      }
    }
  }

  main {
    grid-area: body;
  }

  footer {
    grid-area: footer;
  }

  .container {
    height: 100%;
    @include mix.flexbox($d: column, $jc: center, $ai: center);
    background-color: c.$background;
    color: c.$black;
  }

  main.container {
    background-color: c.$white;
    color: c.$black;
  }
}
